@import "../../styles/utils/variables";
@import "../../styles/utils/fonts";

.main-header {
  display: flex;
  justify-content: space-between;
  line-height: 60px;

  &__logo {
    margin: 0;
    color: $cc-white;
    font-size: 2rem;
    font-weight: $font-semi-bold;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px $cc-purple-dark;

    span {
      display: block;
      font-size: .9rem;
      line-height: .5;
    }
  }
}

.menu__item__language {
  padding: 0;
  text-align: center;
}

.language__select, .language__dropdown {
  img {
    display: inline-block;
    width: 20px;
    padding-right: 5px;
  }
}

.language__select.language__select {
  width: 100px;
  .ant-select-selector {
    background-color: transparent;
    border: none;
    span {
      color: $cc-white;
    }
  }
  &.ant-select-focused {
    .ant-select-selector {
      box-shadow: none;
    }
  }
}
.language__dropdown {
  text-align: center;
}

@media screen and (max-width: 634px) {
  .main-layout__header {
    display: flex;
    align-items: center;
    padding: 0 20px;

    .main-header {
      &__logo {
        font-size: 1.5rem;

        span {
          font-size: 0.6rem;
        }
      }

      .ant-menu {
        padding: 0;

        &-item {
          padding: 0 10px;
        }
        .anticon {
          margin: 10px;
        }
        .menu__item__label {
          display: none;
        }
      }
    }
  }
}
