@import "../../styles/utils/variables";

.history-rate-container {
  display: block;
  text-align: center;

  .periodButtons {
    margin: 10px;
    .monthButton {
      margin: 10px;
      background-color: $cc-purple;
      border-color: $cc-purple;
    }
  }
}