@import "../../styles/utils/variables";

.form {
  padding: 10px;

  .text-area {
    margin-bottom: 10px;

    textarea {
      height: 150px;
      max-height: 200px;
    }
  }

  .submitButton {
    margin-bottom: 0;
  }
}