@mixin rotate($deg) {
  transform: rotate(#{$deg}deg);
}

@mixin linear-gradient($color1, $color2, $deg: to right) {
  background-color: $color1;
  background-image: linear-gradient($deg, $color1, $color2, $color1);

  background-size: 200% 200%;

  &:hover {
    background-position: 100% 100%;
  }
}
