.converter-container {
  text-align: center;
  padding: 50px;
}

.selector-wrapper {
  .replace-currency-button {
    margin: 10px 0;
    Button {
      transform: rotate(90deg);
    }
  }

  Input {
    width: 200px
  }
}
