.converter-container {
  position: absolute;
  top: 40%;
  left: 40%;

  .replace-currency-button {
    text-align: center;
    margin: 10px 0;
    Button {
      transform: rotate(90deg);
    }
  }
}
