@import "styles/utils/variables";

.cc-theme-purple {
  .main-layout {
    background-color: $cc-white;
    &__header {
      background-color: $cc-purple;
    }
    &__content {
      background-color: $cc-white;
    }
  }
}
