@import "styles/utils/variables";

.cc-theme-purple {
  .main-layout {
    background-color: $cc-white;

    &__header {
      background-color: $cc-purple;
    }

    &__content {
      background-color: $cc-white;
      position: relative;

      .ant-spin {
        background-color: $cc-white;
        .ant-spin-dot {
          width: 3rem;
          height: 3rem;

          .ant-spin-dot-item {
            background-color: $cc-purple;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
