@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.contact {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .contact__details {
    width: 250px;
    height: 600px;
    @include linear-gradient($cc-purple, $cc-purple-dark);
    padding: 10px;
    color: $cc-white;

    p {
      font-size: 1.5rem;
      margin-left: 20px;
    }

    .wrapper {
      margin-left: 10px;

      .facebook, .github, .site {
        margin-top: 50px;
        margin-left: 30px;
        font-size: 3rem;
      }
    }
  }

  .contact__form {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background-color: $cc-white;
    margin: auto -120px;
    color: $cc-white;
    font-size: 1.5rem;
    box-shadow: 0 0 20px $cc-purple-dark;
    border-radius: 5px;

    p {
      font-size: 1.5rem;
      margin-left: 20px;
    }
  }
}


@media screen and (max-width: 883px) {
  .contact {
    display: block;
    margin: auto;

    .contact__details {
      width: 600px;
      height: 150px;

      .wrapper {
        display: flex;
        justify-content: space-around;

        .facebook, .github, .site {
          margin-top: 0;
          margin-left: 0;
        }
      }
    }

    .contact__form {
      margin: -20px auto auto;
      width: 550px;
    }
  }
}

@media screen and (max-width: 634px) {
  .contact {
    .contact__details {
      width: 450px;
    }

    .contact__form {
      width: 400px;
    }
  }
}


@media screen and (max-width: 460px) {
  .contact {
    .contact__details {
      width: 320px;

      .wrapper {
        .facebook, .github, .site {
          font-size: 2rem;
        }
      }

      p {
        font-size: 1rem;
      }
    }

    .contact__form {
      width: 300px;
      margin-top: -55px;
    }
  }
}